<!doctype html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<title>测试</title>
    <link rel="stylesheet" type="text/css" href="/static/css/mystyle.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>
<body style="background-image: url(/static/images/background.jpeg);">
{#   <header>#}
{#       <h1>用户名：{{ qa['user_name'] }}    员工账号：{{ qa['user_id'] }}</h1>#}
{#   </header>#}
   <div id="myDiv">

    <div>
        <p class="p1">一：单选题</p>
       {% for key in singal_dict.keys() %}
           <p class="p2">{{ key|string + '. ' + singal_dict[key][0]}}</P>
           {% for ele in singal_dict[key][1] %}
               <p class="p3"><input type="radio" name="{{"singal-" + key|string}}" value="{{ ele }}" />{{ ele }}</p>
           {% endfor %}
       {% endfor %}
   </div>
    <hr>
    <div>
       <p class="p1" > 二：多选题 </p>
       {% for key in double_dict.keys() %}
           <p class="p2">{{ key|string + '. ' + double_dict[key][0]}}</P>
           {% for ele in double_dict[key][1] %}
               <p class="p3"><input type="checkbox" name="{{"double-" + key|string}}" value="{{ ele }}" />{{ ele }}</p>
           {% endfor %}
       {% endfor %}
   </div>
    <hr>
    <div>
       <p class="p1" > 三：填空题 </p>
       {% for key in fill_dict.keys() %}
           <p class="p2">{{ key|string + '. '}}
               {% for ele in fill_dict[key] %}
                    {{ ele }}
               {% endfor %}

               <input onkeydown="this.onkeyup();" onkeyup="this.size=(this.value.length>4?this.value.length:4);" size="4"
                      class="add_input" type="text" name="key1.1" value="">
           </P>
       {% endfor %}
   </div>
    <hr>
    <div>
       <p style="text-align: center; padding-bottom: 20px"><input id="btnOperate" type="button" value="提交" onclick="static_num()" /></p>
   </div>
   </div>


   <script>
       function static_num()
       {
           {#var choice = {{ choice.content | tojson }}#}
           {#console.log(choice)#}
           var arr = new Array();
           {#var items = document.getElementsByName("category");#}
           var items = document.getElementsByTagName('input')
           console.log(items)
           for (i = 0; i < items.length; i++) {
               if (items[i].checked) {
                   arr.push(items[i].name+'#'+items[i].value);
                   }
               }
           console.log(arr)
           var data = {"key":JSON.stringify(arr)};
           $.ajax(
               {
                   url: "/check",
                   type: "POST",
                   data: data,
                   dataType: "json",
                   success: function (ret) {
                       console.log(ret)
                   }
               }
           )
           alert("选择的个数为：" + arr.length);
       };
   </script>
</body>
</html>